# PANDAS

__Pandas__ is a powerful _open-source_ data manipulation and analysis library for _Python_. 

It provides data structures and functions for efficiently __handling and analyzing structured data__, such as tables or spreadsheets.

With __pandas__, you can easily _load_, _manipulate_, _analyze data_, perform _data cleaning_ and _preprocessing_ tasks, and create _visualizations_.

It is widely used in _data science_, _machine learning_, and _data analysis_ projects.

To import the pandas library and assigns it the alias 'pd', you could make `import pandas as pd`.

## The Series Data Structure

A __pandas Series__ is a _one-dimensional labeled array_ capable of holding any data type. It is similar to a _column_ in a spreadsheet or a SQL table, or a _dictionary-like_ object. It is a fundamental _data structure_ in __pandas__ library, which is widely used for data manipulation and analysis in Python.

A __pandas Series__ consists of two main components: the _data_ and the _index_. The _data_ can be of any type, such as integers, floats, strings, or even complex objects. The _index_ is a sequence of labels that uniquely identifies each element in the Series.

Some key features of pandas Series include:
- Vectorized operations: Series supports vectorized operations, allowing you to perform element-wise computations efficiently.
- Label-based indexing: You can access elements in a Series using labels instead of integer-based indexing.
- Alignment: Series automatically aligns data based on the index, making it easy to perform operations on multiple Series with different indexes.

To create a __Series__, you can pass a list, array, or dictionary-like object to the `pd.Series()` constructor. You can also specify custom index labels if needed.

In [2]:
import pandas as pd

# Create a Series object from a list of strings
list_elements = ['a', 'b', 'c', 'd', 'e']
serie_1 = pd.Series(list_elements)
print("Serie 1:", type(serie_1), "\n", serie_1)

# Create a Series object from a list of numbers
list_numbers = [1, 2, 3, 4, 5]
serie_2 = pd.Series(list_numbers)
print("Serie 2:", type(serie_2), "\n", serie_2)

# Create a Series object from a list of numbers with a None value
list_numbers_with_none = [1, 2, None, 4, 5]
serie_3 = pd.Series(list_numbers_with_none)
print("Serie 3:", type(serie_3), "\n", serie_3)

Serie 1: <class 'pandas.core.series.Series'>
 0    a
1    b
2    c
3    d
4    e
dtype: object
Serie 2: <class 'pandas.core.series.Series'>
 0    1
1    2
2    3
3    4
4    5
dtype: int64
Serie 3: <class 'pandas.core.series.Series'>
 0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [7]:
# Create a Series object from a dictionary
dict_data = {'a': 1, 'b':2, 'c': 3, 'd': 4}
serie_4 = pd.Series(dict_data)
print("Serie 4:", type(serie_4), "\n", serie_4)

# Get the values of the Series index
print("Serie 4 index:", serie_4.index)

Serie 4: <class 'pandas.core.series.Series'>
 a    1
b    2
c    3
d    4
dtype: int64
Serie 4 index: Index(['a', 'b', 'c', 'd'], dtype='object')

In [3]:
# Create a series object from a list of tuple pairs
list_tuples = [('est-1', 'Ana'), ('est-2', 'Bob'), ('est-3', 'Claire')]
serie_5 = pd.Series(list_tuples)
print("Serie 5:", type(serie_5), "\n", serie_5)

Serie 5: <class 'pandas.core.series.Series'>
 0       (est-1, Ana)
1       (est-2, Bob)
2    (est-3, Claire)
dtype: object

In [5]:
# Create a series object from a list as values and a list as index
list_index = ['a', 'b', 'c', 'd']
list_values = ['Ana', 'Bob', 'Claire', 'Dennis']
serie_6 = pd.Series(list_values, index=list_index)
print("Serie 6:", type(serie_6), "\n", serie_6)

Serie 6: <class 'pandas.core.series.Series'>
 a       Ana
b       Bob
c    Claire
d    Dennis
dtype: object

In [21]:
# Query a Series object by boolean indexing
print("Serie 4 > 2:\n", serie_4[serie_4 > 2])
print('-'*10)
print(serie_4 > 2)

Serie 4 > 2:
 c    3
d    4
dtype: int64
----------
a    False
b    False
c     True
d     True
dtype: bool

In [28]:
# Query a Series object by fancy indexing
index_list = ['a', 'c']
print("Serie6[['a', 'c']]:\n", serie_6[index_list])

Serie6[['a', 'c']]:
 a       Ana
c    Claire
dtype: object

In [30]:
# Query a Series object using loc[]
print("Serie6.loc[['a', 'd']]:\n", serie_6.loc[['a', 'd']])

Serie6.loc[['a', 'd']]:
 a       Ana
d    Dennis
dtype: object

In [34]:
# Query a Series object using iloc[]
print("Serie6.iloc[:2]:\n", serie_6.iloc[:2])

Serie6.iloc[:2]:
 a    Ana
b    Bob
dtype: object

## The DataFrame Data Structure

A __pandas DataFrame__ is a _two-dimensional_, _labeled_ data structure in _Python_ that is commonly used for _data manipulation and analysis_. It consists of _rows_ and _columns_, similar to a table in a relational database.

The __DataFrame__ can store _heterogeneous data types_ and provides various operations and functions to perform data manipulation, filtering, grouping, and statistical analysis.

To access and manipulate the data in the __DataFrame__, you can use various _methods_ and _attributes_ provided by the __pandas__ library.

For more information on __pandas DataFrame__, refer to the [official pandas documentation](https://pandas.pydata.org/docs/reference/frame.html).

In [41]:
# create dataframes from lists
list_example = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
df = pd.DataFrame(list_example)
print("Dataframe:\n", df)
print("Dataframe.shape:", df.shape)
print("Dataframe.colums:", df.columns)
print("Dataframe index:", df.index)
df.head()

Dataframe:
     0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12
Dataframe.shape: (4, 3)
Dataframe.colums: RangeIndex(start=0, stop=3, step=1)
Dataframe index: RangeIndex(start=0, stop=4, step=1)

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [43]:
# create a dataframe from a list of dictionaries
list_dict = [{'a': 1, 'b': 2, 'c':3}, {'d': 4, 'b': 5, 'c': 6}]
df = pd.DataFrame(list_dict)
print("Columns:", df.columns)
df.head()

Columns: Index(['a', 'b', 'c', 'd'], dtype='object')

     a  b  c    d
0  1.0  2  3  NaN
1  NaN  5  6  4.0

In [45]:
# create a dataframe from a csv file
csv_df = pd.read_csv('csv-files/StudentsInfo.csv')
print(csv_df.shape)
csv_df.head()

(30, 4)

,Name,Company,Position,Salary
0,Alice Johnson,"Hernandez, Griffith and Nelson",Petroleum engineer,4740
1,David Jones,Gomez-Garcia,"Geologist, engineering",73329
2,Eva Brown,Blevins LLC,Microbiologist,83245
3,Frank Davis,Greene-Wilson,Museum education officer,74390
4,Jack Anderson,Butler PLC,"Scientist, research (maths)",69851

In [46]:
# create a dataframe from a json file
json_df = pd.read_json('json-files/StudentsInfo.json')
print(json_df.shape)
json_df.head()

(50, 4)

   id            name                  career                college
0   1   Alice Johnson        Computer Science        Tech University
1   2       Bob Smith  Mechanical Engineering  Engineering Institute
2   3  Carol Williams  Electrical Engineering        Tech University
3   4     David Jones                 Biology        Science College
4   5       Eva Brown                 Physics        Tech University

In [47]:
# describe a dataframe
print("DF CSV:\n", csv_df.describe())
print("*"*20)
print("DF JSON:\n", json_df.describe())

DF CSV:
              Salary
count     30.000000
mean   53491.600000
std    27432.862783
min     4740.000000
25%    27472.000000
50%    64104.000000
75%    72981.250000
max    93995.000000
********************
DF JSON:
              id
count  50.00000
mean   25.50000
std    14.57738
min     1.00000
25%    13.25000
50%    25.50000
75%    37.75000
max    50.00000

In [48]:
# get information about a dataframe
print("DF CSV:\n", csv_df.info())
print("*"*20)
print("DF JSON:\n", json_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      30 non-null     object
 1   Company   30 non-null     object
 2   Position  30 non-null     object
 3   Salary    30 non-null     int64
dtypes: int64(1), object(3)
memory usage: 1.1+ KB
DF CSV:
 None
********************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       50 non-null     int64
 1   name     50 non-null     object
 2   career   50 non-null     object
 3   college  50 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.7+ KB
DF JSON:
 None

In [51]:
# indexes and columns
json_changed_df = json_df.set_index('name')
json_changed_df.head()

                id                  career                college
name
Alice Johnson    1        Computer Science        Tech University
Bob Smith        2  Mechanical Engineering  Engineering Institute
Carol Williams   3  Electrical Engineering        Tech University
David Jones      4                 Biology        Science College
Eva Brown        5                 Physics        Tech University

In [54]:
# change column name
csv_df = csv_df.rename(columns={'Salary': 'Salary (UD/year)', 'Position': 'Current Position'})
csv_df.head()

,Name,Company,Current Position,Salary (UD/year)
0,Alice Johnson,"Hernandez, Griffith and Nelson",Petroleum engineer,4740
1,David Jones,Gomez-Garcia,"Geologist, engineering",73329
2,Eva Brown,Blevins LLC,Microbiologist,83245
3,Frank Davis,Greene-Wilson,Museum education officer,74390
4,Jack Anderson,Butler PLC,"Scientist, research (maths)",69851

### Using Datetime into Pandas

In [60]:
# converting a column to datetime with to_datetime()
list_dates = ['2023-02-05', '2024-05-23']
df = pd.DataFrame(list_dates, columns=['date_example'])
print(df.info())
df['date_example'] = pd.to_datetime(df['date_example'])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date_example  2 non-null      object
dtypes: object(1)
memory usage: 148.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date_example  2 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 148.0 bytes
None

In [69]:
sales_df = pd.read_json('json-files/sales_data.json')
sales_df = sales_df.set_index('code')
sales_df['date'] = sales_df['date'].replace('2008-Dic-23', '2008-Dec-23')
sales_df['full_date'] = sales_df['date'] + ' ' + sales_df['hour']
sales_df['full_date'] = pd.to_datetime(sales_df['full_date'], format='mixed')
print(sales_df.info())
sales_df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Sale-1117-HdZH to Sale-2882-umoM
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   client       1000 non-null   object
 1   total_price  1000 non-null   float64
 2   date         1000 non-null   object
 3   hour         1000 non-null   object
 4   credit_card  1000 non-null   int64
 5   full_date    1000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 54.7+ KB
None

,client,total_price,date,hour,credit_card,full_date
code,,,,,,
Sale-1117-HdZH,Gary Meza,832.48,2024-06-03,08:13:18,6011811575065598,2024-06-03 08:13:18
Sale-5078-hqkc,Carol Martin,156.29,2014-08-22,02:57:20,6536303182814044,2014-08-22 02:57:20
Sale-8209-xGVn,Jeremy Spencer,832.05,1979-05-22,02:10:06,213185615148626,1979-05-22 02:10:06
Sale-9093-bfcp,Pamela Anderson,166.57,1973-12-24,21:28:34,3558512811558836,1973-12-24 21:28:34
Sale-8141-KGOb,Kenneth Marsh,498.43,1974-03-14,03:55:36,2239583806605394,1974-03-14 03:55:36

In [71]:
# converting a column from datetime to string with strftime()
sales_df['full_date_formated'] = sales_df['full_date'].dt.strftime("%Y-%b-%d %H:%M:%S")
sales_df.head()

,client,total_price,date,hour,credit_card,full_date,full_date_formated
code,,,,,,,
Sale-1117-HdZH,Gary Meza,832.48,2024-06-03,08:13:18,6011811575065598,2024-06-03 08:13:18,2024-Jun-03 08:13:18
Sale-5078-hqkc,Carol Martin,156.29,2014-08-22,02:57:20,6536303182814044,2014-08-22 02:57:20,2014-Aug-22 02:57:20
Sale-8209-xGVn,Jeremy Spencer,832.05,1979-05-22,02:10:06,213185615148626,1979-05-22 02:10:06,1979-May-22 02:10:06
Sale-9093-bfcp,Pamela Anderson,166.57,1973-12-24,21:28:34,3558512811558836,1973-12-24 21:28:34,1973-Dec-24 21:28:34
Sale-8141-KGOb,Kenneth Marsh,498.43,1974-03-14,03:55:36,2239583806605394,1974-03-14 03:55:36,1974-Mar-14 03:55:36

In [73]:
# converting a column from datetime to a timestamp with timestamp()
sales_df['timestamp'] = sales_df['full_date'].apply(lambda x: x.timestamp())
sales_df['timestamp'] = sales_df['timestamp'].astype('int64')
sales_df.head()

,client,total_price,date,hour,credit_card,full_date,full_date_formated,timestamp
code,,,,,,,,
Sale-1117-HdZH,Gary Meza,832.48,2024-06-03,08:13:18,6011811575065598,2024-06-03 08:13:18,2024-Jun-03 08:13:18,1717402398
Sale-5078-hqkc,Carol Martin,156.29,2014-08-22,02:57:20,6536303182814044,2014-08-22 02:57:20,2014-Aug-22 02:57:20,1408676240
Sale-8209-xGVn,Jeremy Spencer,832.05,1979-05-22,02:10:06,213185615148626,1979-05-22 02:10:06,1979-May-22 02:10:06,296187006
Sale-9093-bfcp,Pamela Anderson,166.57,1973-12-24,21:28:34,3558512811558836,1973-12-24 21:28:34,1973-Dec-24 21:28:34,125616514
Sale-8141-KGOb,Kenneth Marsh,498.43,1974-03-14,03:55:36,2239583806605394,1974-03-14 03:55:36,1974-Mar-14 03:55:36,132465336

In [74]:
sales_df.describe()

       total_price   credit_card                      full_date     timestamp
count  1000.000000  1.000000e+03                           1000  1.000000e+03
mean    489.713800  3.550223e+17  1996-04-08 18:37:02.880999936  8.289886e+08
min      11.850000  6.044392e+10            1970-01-09 21:20:40  7.680400e+05
25%     226.677500  1.800112e+14     1982-09-14 20:13:30.750000  4.008824e+08
50%     486.430000  3.520377e+15     1995-11-17 17:16:20.500000  8.166286e+08
75%     732.752500  4.632459e+15  2009-05-24 22:14:57.249999872  1.243203e+09
max     999.710000  4.997675e+18            2024-06-03 08:13:18  1.717402e+09
std     288.791957  1.215563e+18                            NaN  4.951866e+08

In [75]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Sale-1117-HdZH to Sale-2882-umoM
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   client              1000 non-null   object
 1   total_price         1000 non-null   float64
 2   date                1000 non-null   object
 3   hour                1000 non-null   object
 4   credit_card         1000 non-null   int64
 5   full_date           1000 non-null   datetime64[ns]
 6   full_date_formated  1000 non-null   object
 7   timestamp           1000 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 102.6+ KB

In [76]:
%%timeit -n 100
import numpy as np
print(np.sum(sales_df['total_price']))

489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
489713.80000000005
71.2 μs ± 18.3 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [77]:
%%timeit -n 100
total = 0
for price in sales_df['total_price']:
    total += price
print(total)

489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
489713.79999999964
135 μs ± 12.8 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

### Queries and Transformations

In [79]:
# drop a column
sales_df = sales_df.drop(columns=['full_date', 'timestamp'], axis=1)
sales_df.head()

,client,total_price,date,hour,credit_card,full_date_formated
code,,,,,,
Sale-1117-HdZH,Gary Meza,832.48,2024-06-03,08:13:18,6011811575065598,2024-Jun-03 08:13:18
Sale-5078-hqkc,Carol Martin,156.29,2014-08-22,02:57:20,6536303182814044,2014-Aug-22 02:57:20
Sale-8209-xGVn,Jeremy Spencer,832.05,1979-05-22,02:10:06,213185615148626,1979-May-22 02:10:06
Sale-9093-bfcp,Pamela Anderson,166.57,1973-12-24,21:28:34,3558512811558836,1973-Dec-24 21:28:34
Sale-8141-KGOb,Kenneth Marsh,498.43,1974-03-14,03:55:36,2239583806605394,1974-Mar-14 03:55:36

In [81]:
# drop a row
sales_df = sales_df.drop(index='Sale-8141-KGOb')
sales_df.head()

,client,total_price,date,hour,credit_card,full_date_formated
code,,,,,,
Sale-1117-HdZH,Gary Meza,832.48,2024-06-03,08:13:18,6011811575065598,2024-Jun-03 08:13:18
Sale-5078-hqkc,Carol Martin,156.29,2014-08-22,02:57:20,6536303182814044,2014-Aug-22 02:57:20
Sale-8209-xGVn,Jeremy Spencer,832.05,1979-05-22,02:10:06,213185615148626,1979-May-22 02:10:06
Sale-9093-bfcp,Pamela Anderson,166.57,1973-12-24,21:28:34,3558512811558836,1973-Dec-24 21:28:34
Sale-7567-cCLb,William Smith,857.13,2016-07-04,18:26:22,3541411469135312,2016-Jul-04 18:26:22

In [78]:
# query a dataframe by column
sales_df.head()

,client,total_price,date,hour,credit_card,full_date,full_date_formated,timestamp
code,,,,,,,,
Sale-1117-HdZH,Gary Meza,832.48,2024-06-03,08:13:18,6011811575065598,2024-06-03 08:13:18,2024-Jun-03 08:13:18,1717402398
Sale-5078-hqkc,Carol Martin,156.29,2014-08-22,02:57:20,6536303182814044,2014-08-22 02:57:20,2014-Aug-22 02:57:20,1408676240
Sale-8209-xGVn,Jeremy Spencer,832.05,1979-05-22,02:10:06,213185615148626,1979-05-22 02:10:06,1979-May-22 02:10:06,296187006
Sale-9093-bfcp,Pamela Anderson,166.57,1973-12-24,21:28:34,3558512811558836,1973-12-24 21:28:34,1973-Dec-24 21:28:34,125616514
Sale-8141-KGOb,Kenneth Marsh,498.43,1974-03-14,03:55:36,2239583806605394,1974-03-14 03:55:36,1974-Mar-14 03:55:36,132465336

In [83]:
# query a dataframe to project a column
clients = sales_df['client']
print(type(clients))
clients.head()

<class 'pandas.core.series.Series'>

code
Sale-1117-HdZH          Gary Meza
Sale-5078-hqkc       Carol Martin
Sale-8209-xGVn     Jeremy Spencer
Sale-9093-bfcp    Pamela Anderson
Sale-7567-cCLb      William Smith
Name: client, dtype: object

In [87]:
# fancy query in a dataframe
sales_df[(sales_df['total_price'] > 733.1) & (sales_df['date'] > '2023-12-31')]

,client,total_price,date,hour,credit_card,full_date_formated
code,,,,,,
Sale-1117-HdZH,Gary Meza,832.48,2024-06-03,08:13:18,6011811575065598,2024-Jun-03 08:13:18
Sale-0614-sxLF,Don Hoffman,962.64,2024-01-03,23:55:55,5479577821251756,2024-Jan-03 23:55:55
Sale-2906-BTeQ,Erin Hodge,998.86,2024-01-08,06:56:38,4567559715138618,2024-Jan-08 06:56:38
Sale-1627-BccC,Walter Jimenez,912.70,2024-02-25,11:16:18,6540696554624030,2024-Feb-25 11:16:18
Sale-6265-XNWg,Douglas Valencia,927.28,2024-05-11,11:36:54,30569642128340,2024-May-11 11:36:54
Sale-2093-FIOe,Kenneth Anderson,767.85,2024-01-15,12:02:58,342591867309051,2024-Jan-15 12:02:58
Sale-3056-LhkB,Lorraine Cline,909.90,2024-04-25,00:18:15,502076502454,2024-Apr-25 00:18:15

In [91]:
# query a dataframe by row with loc
sales_df.loc['Sale-9093-bfcp', ['client', 'total_price', 'full_date_formated']]

client                     Pamela Anderson
total_price                         166.57
full_date_formated    1973-Dec-24 21:28:34
Name: Sale-9093-bfcp, dtype: object

In [98]:
# query a dataframe by row with iloc
sales_df['full_date'] = pd.to_datetime(sales_df['full_date_formated'])
sales_date_ordered_df = sales_df.sort_values(by='full_date', ascending=False)
sales_date_ordered_df.iloc[:3]

,client,total_price,date,hour,credit_card,full_date_formated,full_date
code,,,,,,,
Sale-1117-HdZH,Gary Meza,832.48,2024-06-03,08:13:18,6011811575065598,2024-Jun-03 08:13:18,2024-06-03 08:13:18
Sale-6265-XNWg,Douglas Valencia,927.28,2024-05-11,11:36:54,30569642128340,2024-May-11 11:36:54,2024-05-11 11:36:54
Sale-3056-LhkB,Lorraine Cline,909.90,2024-04-25,00:18:15,502076502454,2024-Apr-25 00:18:15,2024-04-25 00:18:15

In [105]:
# query a dataframe using a boolean mask
sales_df[sales_df['total_price'] > 800].head()

,client,total_price,date,hour,credit_card,full_date_formated,full_date
code,,,,,,,
Sale-1117-HdZH,Gary Meza,832.48,2024-06-03,08:13:18,6011811575065598,2024-Jun-03 08:13:18,2024-06-03 08:13:18
Sale-8209-xGVn,Jeremy Spencer,832.05,1979-05-22,02:10:06,213185615148626,1979-May-22 02:10:06,1979-05-22 02:10:06
Sale-7567-cCLb,William Smith,857.13,2016-07-04,18:26:22,3541411469135312,2016-Jul-04 18:26:22,2016-07-04 18:26:22
Sale-1256-GSGV,Travis Reid,913.50,1987-01-01,12:19:45,30435866051594,1987-Jan-01 12:19:45,1987-01-01 12:19:45
Sale-1938-dqto,Christopher Green DDS,994.77,2023-09-19,12:54:28,4569498359626448,2023-Sep-19 12:54:28,2023-09-19 12:54:28

In [106]:
# query a dataframe using query()
sales_df.query('total_price > 800').head()

,client,total_price,date,hour,credit_card,full_date_formated,full_date
code,,,,,,,
Sale-1117-HdZH,Gary Meza,832.48,2024-06-03,08:13:18,6011811575065598,2024-Jun-03 08:13:18,2024-06-03 08:13:18
Sale-8209-xGVn,Jeremy Spencer,832.05,1979-05-22,02:10:06,213185615148626,1979-May-22 02:10:06,1979-05-22 02:10:06
Sale-7567-cCLb,William Smith,857.13,2016-07-04,18:26:22,3541411469135312,2016-Jul-04 18:26:22,2016-07-04 18:26:22
Sale-1256-GSGV,Travis Reid,913.50,1987-01-01,12:19:45,30435866051594,1987-Jan-01 12:19:45,1987-01-01 12:19:45
Sale-1938-dqto,Christopher Green DDS,994.77,2023-09-19,12:54:28,4569498359626448,2023-Sep-19 12:54:28,2023-09-19 12:54:28

In [3]:
# load comments dataset
call_center_df = pd.read_json('json-files/call_center_comments.json')
print(call_center_df.describe())
print("*"*50)
print(call_center_df.info())
print("*"*50)
call_center_df.head()

                           date_time  attention_time
count                         979847   950263.000000
mean   2022-03-31 06:45:42.571045888       77.534184
min              2020-01-01 00:00:13        5.000390
25%              2021-02-14 07:39:21       41.283927
50%              2022-04-01 02:31:31       77.528448
75%       2023-05-15 11:23:50.500000      113.790497
max              2024-06-27 02:51:39      149.999955
std                              NaN       41.863647
**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 8 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   code               1000000 non-null  object
 1   client             1000000 non-null  object
 2   product            1000000 non-null  object
 3   date_time          979847 non-null   datetime64[ns]
 4   attention_time     950263 non-null   float64
 5   comment            1000000 non-null  object
 6   country_of_origin  1000000 non-null  object
 7   city               858525 non-null   object
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 61.0+ MB
None
**************************************************

,code,client,product,date_time,attention_time,comment,country_of_origin,city
0,eer-4490986,Laurie Wallace,SSD,2020-02-29 17:51:25,86.740331,Significantly improved my computer's boot time.,Brazil,Belo Horizonte
1,qDL-3585949,Craig Harris,Graphics Card,2023-10-26 10:12:43,NaN,Runs cool and quiet under load.,USA,None
2,sQo-4191674,Cody Romero,VR Headset,2022-08-07 02:52:48,104.754283,Immersive gaming and media experience.,Russia,Kazan
3,QAy-6767272,Renee Sanchez,Graphics Card,2020-03-21 19:23:23,86.052689,"Pricey, but worth it for the performance.",India,Kolkata
4,lAI-7220154,Anthony Collins,Smart Home Assistant,2021-01-08 14:00:46,35.819705,Concerns about privacy and data security.,Italy,Rome

In [ ]:
# get missing values using isnull()

In [ ]:
# fill missing values using fillna()

In [ ]:
# drop missing values using dropna()

In [ ]:
# transform column using to_datetime()

In [ ]:
# transform column using to_numeric()

In [ ]:
# convert column to category using astype()

In [ ]:
# merge dataframes using merge()

In [ ]:
# concatenate dataframes using concat()

In [ ]:
# join dataframes using join()

In [ ]:
# group dataframes using groupby()

In [ ]:
# group and aggregate dataframes using groupby() and aggregate()

In [ ]:
# group and transform dataframes using groupby() and transform()

In [ ]:
# group and filter dataframes using groupby() and filter()

In [ ]:
# merge dataframes using pivot()

In [ ]:
# pivot dataframes using pivot_table()

### Advanced Transformations

In [ ]:
# making transformations using apply()

In [ ]:
# making transformations using chain transformations

### Statistical Testing

In [ ]:
# making a t-test with pandas and scipy

In [ ]:
# making an ANOVA test with pandas and scipy

In [ ]:
# making a chi-square test with pandas and scipy

In [ ]:
# making a correlation validation with pandas

In [ ]:
# p-hacking example

In [ ]:
# p-hacking example with multiple testing

In [ ]:
# p-value example

In [ ]:
# p-value correction with Bonferroni

# Generate DataSet Dummy

In [107]:
import json
import random
from faker import Faker

fake = Faker()

# Predefined mapping of countries to cities
countries_cities = {
    'USA': ['New York', 'Los Angeles', 'Chicago', 'San Francisco', 'Miami', 'Seattle', 'Austin', None],
    'Germany': ['Berlin', 'Munich', 'Frankfurt', 'Hamburg', 'Cologne', 'Stuttgart', None],
    'Japan': ['Tokyo', 'Osaka', 'Kyoto', 'Sapporo', 'Nagoya', 'Fukuoka', None],
    'Canada': ['Toronto', 'Vancouver', 'Montreal', 'Calgary', 'Ottawa', 'Edmonton', None],
    'UK': ['London', 'Manchester', 'Birmingham', 'Glasgow', 'Liverpool', 'Bristol', None],
    'Australia': ['Sydney', 'Melbourne', 'Brisbane', 'Perth', 'Adelaide', 'Canberra', None],
    'France': ['Paris', 'Marseille', 'Lyon', 'Toulouse', 'Nice', 'Nantes', None],
    'India': ['Mumbai', 'Delhi', 'Bangalore', 'Hyderabad', 'Chennai', 'Kolkata', None],
    'Brazil': ['São Paulo', 'Rio de Janeiro', 'Salvador', 'Brasília', 'Fortaleza', 'Belo Horizonte', None],
    'South Korea': ['Seoul', 'Busan', 'Incheon', 'Daegu', 'Daejeon', 'Gwangju', None],
    'China': ['Beijing', 'Shanghai', 'Guangzhou', 'Shenzhen', 'Chengdu', 'Xi\'an', None],
    'Russia': ['Moscow', 'Saint Petersburg', 'Novosibirsk', 'Yekaterinburg', 'Kazan', 'Nizhny Novgorod', None],
    'Italy': ['Rome', 'Milan', 'Naples', 'Turin', 'Palermo', 'Genoa', None],
    'Spain': ['Madrid', 'Barcelona', 'Valencia', 'Seville', 'Zaragoza', 'Malaga', None],
    'Mexico': ['Mexico City', 'Guadalajara', 'Monterrey', 'Puebla', 'Tijuana', 'Cancun', None]
}

# Products and sample comments
products = [
    'Laptop', 'Tablet', 'Smartphone', 'Monitor', 
    'Gaming Console', 'Smart Watch', 'E-Reader', 
    'Desktop Computer', 'Graphics Card', 'External Hard Drive', 
    'SSD', 'USB Flash Drive', 'Wireless Router', 
    'Noise Cancelling Headphones', 'Bluetooth Speaker', 
    'Smart Home Assistant', 'VR Headset', 'Drone', 
    '3D Printer', 'Digital Camera', 'Action Camera', 
    'Smart Thermostat', 'Fitness Tracker', 'Wireless Charger', 
    'Portable Projector', 'Smart Lock', 'Streaming Stick'
]

product_comments = {
    'Laptop': [
        'Incredible battery life and performance.',
        'Sleek design, but gets hot under heavy use.',
        'Perfect for both work and gaming.'
    ],
    'Tablet': [
        'Great for reading and streaming videos.',
        'Light and easy to carry around.',
        'Could use more accessories.'
    ],
    'Smartphone': [
        'Amazing camera quality, especially in low light.',
        'Battery lasts all day with moderate use.',
        'Wish it had more storage options.'
    ],
    'Monitor': [
        'Colors are vibrant and the display is sharp.',
        'Great for gaming with low latency.',
        'Stand could be more adjustable.'
    ],
    'Gaming Console': [
        'Excellent game selection and performance.',
        'Quiet operation, even during intense gameplay.',
        'Controller battery life could be better.'
    ],
    'Smart Watch': [
        'Tracks fitness activity accurately.',
        'Notifications are handy, but can be overwhelming.',
        'Battery life is good, but not great.'
    ],
    'E-Reader': [
        'Makes reading at night comfortable and easy.',
        'Battery lasts weeks on a single charge.',
        'Wish it supported more file formats natively.'
    ],
    'Desktop Computer': [
        'Powerful performance for all my computing needs.',
        'Easy to upgrade and customize.',
        'Takes up a lot of space.'
    ],
    'Graphics Card': [
        'Can handle most games at high settings.',
        'Runs cool and quiet under load.',
        'Pricey, but worth it for the performance.'
    ],
    'External Hard Drive': [
        'Compact and easy to carry.',
        'Transfer speeds are fast and reliable.',
        'Feels a bit fragile.'
    ],
    'SSD': [
        'Significantly improved my computer\'s boot time.',
        'Reliable and fast storage solution.',
        'Capacity can get expensive.'
    ],
    'USB Flash Drive': [
        'Convenient for quick file transfers.',
        'Small and portable, but easy to lose.',
        'Write speeds could be faster.'
    ],
    'Wireless Router': [
        'Strong and stable Wi-Fi coverage throughout my home.',
        'Setup was a breeze.',
        'Admin interface could be more user-friendly.'
    ],
    'Noise Cancelling Headphones': [
        'Effectively blocks out background noise.',
        'Sound quality is top-notch.',
        'Can be uncomfortable during long listening sessions.'
    ],
    'Bluetooth Speaker': [
        'Great sound quality for its size.',
        'Battery lasts all day.',
        'Water-resistant feature is a plus.'
    ],
    'Smart Home Assistant': [
        'Makes controlling smart home devices easy.',
        'Voice recognition works well.',
        'Concerns about privacy and data security.'
    ],
    'VR Headset': [
        'Immersive gaming and media experience.',
        'Setup can be complex.',
        'Requires a lot of space for the best experience.'
    ],
    'Drone': [
        'Takes amazing aerial photos and videos.',
        'Battery life limits flight time.',
        'Learning curve for beginners.'
    ],
    '3D Printer': [
        'Great for prototyping and hobby projects.',
        'Setup and calibration can be time-consuming.',
        'Material costs can add up.'
    ],
    'Digital Camera': [
        'Excellent image quality and features.',
        'Compact and easy to carry on trips.',
        'Lenses and accessories can be expensive.'
    ],
    'Action Camera': [
        'Durable and waterproof, great for adventure sports.',
        'Battery drains quickly with continuous use.',
        'Wide-angle lens captures stunning perspectives.'
    ],
    'Smart Thermostat': [
        'Easy to control from my phone.',
        'Saves on heating and cooling costs.',
        'Installation was a bit tricky.'
    ],
    'Fitness Tracker': [
        'Motivates me to stay active.',
        'Tracks a wide range of activities.',
        'Accuracy can vary depending on the activity.'
    ],
    'Wireless Charger': [
        'Convenient, just drop and charge.',
        'Charging speed is slower than wired.',
        'Needs precise placement to charge effectively.'
    ],
    'Portable Projector': [
        'Turns any room into a home theater.',
        'Battery life could be longer.',
        'Brightness is adequate for dimly lit rooms.'
    ],
    'Smart Lock': [
        'Adds convenience and security to my home.',
        'Easy to share access with family and guests.',
        'Setup was more complicated than expected.'
    ],
    'Streaming Stick': [
        'Turns any TV into a smart TV.',
        'Easy to set up and use.',
        'Sometimes lags with high-resolution content.'
    ]
}

def get_random_datetime_or_none():
    # Low probability for None
    return fake.date_time_this_decade() if random.choices([True, False], weights=[98, 2])[0] else None

def get_random_attention_time_or_none():
    # Low probability for None
    return random.uniform(5, 150) if random.choices([True, False], weights=[95, 5])[0] else None

def get_country_city():
    country = random.choice(list(countries_cities.keys()))
    city = random.choice(countries_cities[country])
    return country, city

comments = []
for i in range(1000000):
    product = random.choice(products)
    country, city = get_country_city()
    comment_text = random.choice(product_comments.get(product, ['No comment available.']))
    comment = {
        "code": fake.bothify(text='???-#######'),
        "client": fake.name(),
        "product": product,
        "date_time": get_random_datetime_or_none(),
        "attention_time": get_random_attention_time_or_none(),
        "comment": comment_text,
        "country_of_origin": country,
        "city": city
    }
    # Convert datetime to string if not None
    if comment['date_time']:
        comment['date_time'] = comment['date_time'].strftime('%Y-%m-%d %H:%M:%S')
    comments.append(comment)

# Write to JSON file
with open('call_center_comments.json', 'w') as f:
    json.dump(comments, f, indent=4)

KeyboardInterrupt: