***
# Tuples

A tuple is a sequence of elements whom could persist heterogenous data as: integers, floats, strings, lists, dictionaties, and objects...even, another tuples.

It is possible to create a tuple using two methods: (i) using circle parenthesis, (ii) just a secuence of data separated by comma.

However, a _tuple_ is an inmutable data structure, it means, once you created, you cannot change it contents. It is usfeul when you want to move data between your code but you don't want to modify any data by accident, or to package data to send as parameter.

__Example No 1:__

Assign values to a tuple type variable. In the variable _tup_ there are elementos of different data type, and here parenthesis are used to define the tuple.
In the case of the variable _a_ the values are assigned without parenthesis.

In [1]:
tup = (1, 2, 3, 4.5, "hola", "a")
a = 1, 2, 3, "hello"

# check tuples
print("Tuple 1: ", tup)
print("Tuple 2: ", a)
print("Data type: ", type(a))  # verify the data type of tuple a

Tuple 1:  (1, 2, 3, 4.5, 'hola', 'a')
Tuple 2:  (1, 2, 3, 'hello')
Data type:  <class 'tuple'>

__Example No. 2:__

In this example a tuple is created using another tuples, nested tuples.
In particular, a tuple called _tuple\_1_ saves integer values; a tuple called _tuple\_2_ saves string values. Then, a tuple called _tuple\_3 is composed by the previous ones.

_Hint_: To use sub-indexes remember to think in multi-dimensional data.

In [5]:
tuple_1 = (0, 1, 2, 3)  # integers
tuple_2 = ("A", "B", "C")  # strings
tuple_3 = (tuple_1, tuple_2)  # nested tuples

print("Full tuple:", tuple_3)  # full tuple
print("First nested tuple: ", tuple_3[0])  # elements of first nested tuple
print("Second nested tuple: ", tuple_3[1])  # elements of second nested tuple
print(
    "2nd item of 2nd tuple: ", tuple_3[1][1]
)  # multi-dimensionality to get just one value

Full tuple: ((0, 1, 2, 3), ('A', 'B', 'C'))
First nested tuple:  (0, 1, 2, 3)
Second nested tuple:  ('A', 'B', 'C')
2nd item of 2nd tuple:  B

__Example No. 3:__

In this example a couple of tuples are concatenated using __+__ sign. Remember, the orden of concatenation afects the output.

In [6]:
tuple_1 = ("a", "b", "c", "d", "e")
tuple_2 = (1, 2, 3, 4, 5)

tuple_3 = tuple_1 + tuple_2  # first symbols, then numbers
print("First order:", tuple_3)

tuple_4 = tuple_2 + tuple_1  # first numbers, then symbols
print("Second order:", tuple_4)

First order: ('a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5)
Second order: (1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e')

__Example No. 4:__

In this example the idea is to show how you can repeat elements from a tuple suing concatenated copies using multiplication (*) operation.

In [8]:
tuple_1 = (1, 2, 3, 4, 5)  # original tuple
tuple_2 = tuple_1 * 3  # new typle based on concatenations
print("Concatenation of three repetitions:", tuple_2)

tuple_3 = ("Abc", "Bcd")  # a new tuple based on strings
tuple_4 = tuple_3 * 2  # new tuple based in two repetitions
print("Concatenation of two repetitions:", tuple_4)

Concatenation of three repetitions: (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
Concatenation of two repetitions: ('Abc', 'Bcd', 'Abc', 'Bcd')

__Example No. 5:__

It is possile to apply logical operators to make comparison between tuples.  If there are strings, rememeber the comparison is based on lexicographical order. In general, in tuples the comparison works item by item of each tuple, it means comparing elements at the same index in both tuples.

In [1]:
print("Answer 1: ", ("Hallo", 123) < ("Hello", 123))  # true because a < e in first item
print(
    "Answer 2: ", ("Hello", 123) == ("hello", 123)
)  # false because H != h in first item
print(
    "Answer 3: ", ("Hello", 123) > ("Hello", 23)
)  # true because 123 is greater than 23 in the second item
print("Answer 4: ", ("Hallo", "123") > ("Hello", 23))  # false because e > a
print(
    "Answer 5: ", ("Hello", "123") > ("Hello", 23)
)  # error because you cannot compare a string and an int

Answer 1:  True
Answer 2:  False
Answer 3:  True
Answer 4:  False

TypeError: '>' not supported between instances of 'str' and 'int'

__Example No. 6:__

In this example the idea is to access to some tuple items using subindexes, remember indexes start at $0$. Negative indexes in _python_ starts at the end.If index is out of range, in both positive or negative case, it will raise an error.

In [3]:
avengers = ("Ironman", "Thor", "Ant-man", "Hulk")  # base tuple
print("Output 1:", avengers[0])  # access "Ironman"
print("Output 2:", avengers[3])  # access "Hulk"
print("Output 3:", avengers[-1])  # access "Hulk", el último elemento
print("Output 4:", avengers[-3])  # access "Thor"

# you could apply multi-dimenssion access to get information for a tuple item
print("Output 5:", avengers[0][2])

Output 1: Ironman
Output 2: Hulk
Output 3: Hulk
Output 4: Thor
Output 5: o

__Example No. 7:__

In this example the idea is to use set theory notation in order to validate if a item exists into the tuple.

In [4]:
text = ("learning", "to code", "in", "python")  # base tuple
if "to code" in text:  # using 'in', in spanish "pertenece a"
    print("yes to python")  # if the element is in the tuple, it takes the "True" way
else:
    print(
        "no to python"
    )  # if the element is not in the tuple, it takes the "False" way

yes to python

__Example No. 8:__

In this example, it is shown that it is possible to determine if an element is not in a tuple, using a conditional and a notion of non-membership.

In [2]:
text = ("learning", "to code", "in", "python")  # base tuple
if "paiton" not in text:  # using 'not in', in spanish "no pertenece a"
    print(
        "yes to python, no to paiton"
    )  # if the element is not in the tuple, it takes the "True" way
else:
    print("no to python")  # if the element is in the tuple, it takes the "False" way

yes to python, no to paiton

__Example No. 9:__

In this exercise, it is possible to iterate over a tuple using a **for** loop to traverse each element.

In [5]:
greeting = ("hello", "friends", "of mine")  # base tuple
for component in greeting:  # for each element in the tuple
    if component == greeting[-1]:
        print(component)
    else:
        print(component, end=" --- ")

hello --- friends --- of mine

__Example No. 10:__

In this example, it is shown that it is possible to swap the values of a group of variables using cross-assignment and the concept of a tuple.

In [6]:
a = 9
b = 3
a, b = b, a  # swap values based on tuples
print("a =", a)
print("b =", b)

a = 3
b = 9

__Example No. 11:__

In this example, it is possible to assign the values of a group of variables using multiple assignment, the **for** loop, and the concept of a tuple. It means, _tuple comprehension_ and _indexes_.

In [8]:
tuple_ = (11, 9, -2, 3, 8, 5)  # base tuple
# traversal of three elements of the tuple, assigned to three variables
var_1, var_2, var_3 = (tuple_[i] for i in (1, 3, 5))
print("First: var1 =", var_1, ", var2 =", var_2, ", var3 =", var_3)

# traversal of three elements of the tuple using range, assigned to three variables
var_1, var_2, var_3 = (tuple_[i] for i in range(0, 6, 2))
print("Second: var1 =", var_1, ", var2 =", var_2, ", var3 =", var_3)

First: var1 = 9 , var2 = 3 , var3 = 5
Second: var1 = 11 , var2 = -2 , var3 = 8

**Problem No. 1**

_Problem_: Construct a tuple with the numbers from $0$ to $10$ squared.

_Solution:_ Using a **for** loop to traverse a defined range, in this case using _range(11)_ to generate the numbers from $1$ to $10$, and obtaining the square of each possible value of $i$. This generates a sequence of values, and using the casting _tuple()_ converts that sequence into a tuple.

In [10]:
result_tuple = tuple(i**2 for i in range(11))  # constructing the tuple using a loop
print("Result:", result_tuple)

Result: (0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

__Example No. 12:__

In this example, it is shown that more than one value can be returned from a function using the concept of a tuple.

In [11]:
def min_max(a: int, b: int) -> tuple[int, int]:
    """
    Function that returns the minimum and maximum between two elements.

    Parameters:
    - a (int): first element.
    - b (int): second element.

    Returns:
    - tuple[int, int]: minimum and maximum elements.
    """
    if (
        a < b
    ):  # if a is smaller it is returned as the first parameter, and b as the second
        return a, b
    else:  # if b is smaller it is returned as the first parameter, and a as the second
        return b, a


# test with the first parameter as smaller
min_, max_ = min_max(5, 13)  # storage in two variables
print("First: min =", min_, ",", "max =", max_)

# test with the second parameter as smaller
x, y = min_max(12, -4)  # storage in two variables
print("Second: min =", x, ",", "max =", y, ",", "data_type =", type(y))

# test with both parameters equal
tuple_ = min_max(8, 8)  # storage in a tuple
print(
    "Third: tuple =",
    tuple_,
    ",",
    "min =",
    tuple_[0],
    ",",
    "max =",
    tuple_[1],
    ",",
    "data_type =",
    type(tuple_),
)

First: min = 5 , max = 13
Second: min = -4 , max = 12 , data_type = <class 'int'>
Third: tuple = (8, 8) , min = 8 , max = 8 , data_type = <class 'tuple'>

__Example No. 13:__

In this example, the _len_ function is shown, which determines the dimension (length) of a tuple. If the tuple is empty, the size is equal to zero.

In [13]:
# construction of different example tuples
tup = (1, 2, 3, 4, "hello")
name = ("Minch", "Yoda")
job = ("Stars", "War", "Movie")
empty = ()

# printing the sizes of each one of the tuples
print("Size of tuple 'tup':", len(tup))
print("Size of the tuple 'name':", len(name))
print("Size of the tuple 'job':", len(job))
print("Size of the 'empty' tuple:", len(empty))

Size of tuple 'tup': 5
Size of the tuple 'name': 2
Size of the tuple 'job': 3
Size of the 'empty' tuple: 0

__Example No. 14:__

In this example, the _slice_ function is shown, which obtains a portion (subtuple) of a tuple. The
definition is similar to the _slice_ function of a string, [start : end : increment]. By obligation, the start and end must be defined using a : separator, with the default start being $0$ and the end being the last element of the tuple. If you want to change the increment, you must add the third element.

In [14]:
avengers = ("Ironman", "Thor", "Ant-man", "Hulk")  # base tuple

# slice that goes from the beginning to a position before index 2
print("Slice 1: ", avengers[:2])
# slice that goes from position 1 to a position before index 3
print("Slice 2: ", avengers[1:3])
# slice that starts at position 3, and goes up to before three...therefore, it generates empty
print("Slice 3: ", avengers[3:3])
# slice that goes from the penultimate element to the end of the tuple
print("Slice 4: ", avengers[-2:])
# slice that traverses the entire tuple and gets the inverse by making a negative increment
print("Slice 5: ", avengers[::-1])

Slice 1:  ('Ironman', 'Thor')
Slice 2:  ('Thor', 'Ant-man')
Slice 3:  ()
Slice 4:  ('Ant-man', 'Hulk')
Slice 5:  ('Hulk', 'Ant-man', 'Thor', 'Ironman')

__Example No. 15:__

In this exercise, the *count* method is shown, which obtains the number of times an element is found in a tuple.

In [15]:
tuple_ = (4, 3, 8, 8, 2, 5, 4, 6, 8, 9, "3")  # base tuple

print("Number of times the element 2 appears:", tuple_.count(2))  # ans: 1
print("Number of times the element 8 appears:", tuple_.count(8))  # ans: 3
print("Number of times the element 7 appears:", tuple_.count(7))  # ans: 0
print("Number of times the element '3' appears:", tuple_.count("3"))  # ans: 1

Number of times the element 2 appears: 1
Number of times the element 8 appears: 3
Number of times the element 7 appears: 0
Number of times the element '3' appears: 1

__Example No. 16:__

In this exercise, the *index* method is shown, which obtains the **first** occurrence of an element in a tuple.

In [17]:
tuple_ = (4, 3, 8, 8, 2, 5, 4, 6, 8, 9)  # base tuple

print("First index where the element 2 appears:", tuple_.index(2))  # ans: 5
print("First index where the element 8 appears:", tuple_.index(8))  # ans: 2
print("First index where the element 5 appears:", tuple_.index(5))  # ans: 5
try:
    print("First index where the element 1 appears:", tuple_.index(1))  # ans: Error
except ValueError:
    print("ERROR. Element 1 is not in the tuple.")

First index where the element 2 appears: 4
First index where the element 8 appears: 2
First index where the element 5 appears: 5
ERROR. Element 1 is not in the tuple.

__Problem No. 2__

_Problem_: Create a function that gets all the indices of the tuple where a search element is found.

_Solution_: A function is created that receives the tuple and the element to search for. A traversal is made using indices of the tuple, and it is checked at each index if the element is the same as the one being searched for; if the element corresponds, the index is added to a tuple called indices through concatenation. Finally, the tuple of indices where the element appears is returned, with the worst case being an empty tuple.

In [18]:
def find_indices(tuple_, element) -> tuple:
    """
    This function receives an element that is going to be searched in a tuple, and it will return all the indices
    of the tuple where this element is found.

    Parameters:
    - tuple_ (tuple): tuple where the element is going to be searched.
    - element (any): element that is going to be searched in the tuple.

    Returns:
    - tuple: tuple with all the indices where the element is found.
    """
    indices = ()  # an empty tuple is generated
    for i in range(len(tuple_)):  # a traversal is made by indices of the tuple
        # if the tuple at the position of index i is equal to the element being searched for
        if tuple_[i] == element:
            indices = indices + (
                i,
            )  # the index i is concatenated to the tuple of indices
    # the indices where the element is are returned, if it is not in the tuple, the tuple is returned empty
    return indices


tuple_ = (4, 3, 8, 8, 2, 5, 4, 6, 8, 9)
value_to_search = 4

indices = find_indices(tuple_, value_to_search)
if len(indices) > 0:  # if there is more than one index, the list is printed
    print(
        "The element "
        + str(value_to_search)
        + " is found at the indices: "
        + str(indices)
    )
else:  # if there are no indices, a message is output that the element is not in the tuple
    print("The element " + str(value_to_search) + " is not found in the tuple")

The element 4 is found at the indices: (0, 6)

**Problem No. 3**

_Problem_: Create a function that gets the last index of a tuple where an element of interest appears.

_Solution_: A function is created where a tuple and an element to search for are received. For this, a traversal is made by indices from right to left (from last to first), and it is verified at each position if it is the value to search for, and if it is the element, that index is saved and returned, and the search is ended. If the element is not found, a value of $-1$ is returned.

In [19]:
def find_last_index(tuple_, value_to_search):
    """
    This function searches for the element in the tuple_, with the intention of bringing the last index where it can
    find the element, that is, searched from right to left.
    If the element is not found, a value of -1 (logical marker) is returned.
    """
    index = (
        -1
    )  # default index that considers that the element has not been found
    for i in range(len(tuple_) - 1, -1, -1):  
        # the tuple_ is traversed in terms of indices from right to left
        # determines if the element at index i is equal to the value being searched for
        if (tuple_[i] == value_to_search):  
            index = i  # if the element is found, the value of the index is updated
            break  # once the index is found, it is not necessary to continue searching for elements, so the loop ends
    return index


tuple_ = (4, 3, 8, 8, 2, 5, 4, 6, 8, 9)
value_to_search = 4

index = find_last_index(tuple_, value_to_search)
if (index != -1):  
    # If the index is different from -1 it is because the element was found in the tuple_
    print(
        "The element "
        + str(value_to_search)
        + " is found for the last time at the index: "
        + str(index)
    )
else:  # if the index has a value of -1 it is because the function did not find the element in the tuple_
    print("The element " + str(value_to_search) + " is not found in the tuple_")

The element 4 is found for the last time at the index: 6

__Example No. 17:__

In this exercise, the max/min method is shown to obtain the maximum/minimum element of a tuple_.

In [20]:
t = (4, 5, -1, 6, 7)
print("Maximum:", max(t))
print("Minimum:", min(t))

Maximum: 7
Minimum: -1

__Example No. 18:__

In this example, the tuple method is used to create tuples from other objects, similar to the casting process. In this case, it is used to convert a string to a tuple: each character becomes an element of the tuple.

In [22]:
magician = "universidad distrital"
tm = tuple(magician)
print(tm)

('u', 'n', 'i', 'v', 'e', 'r', 's', 'i', 'd', 'a', 'd', ' ', 'd', 'i', 's', 't', 'r', 'i', 't', 'a', 'l')

__Example No. 19:__

In this example, a map function is executed so that each of the values of a tuple or a list, as in the following example, converts to int the values read from the console that are separated by space.

In [25]:
t = tuple(
    map(
        int,
        input("Write numbers separated by space: ").split(" "),
    )
)
print("Tuple:", t)
print("Sum of the first two elements:", t[0] + t[1])

Tuple: (1, 3, 4, 6, 7)
Sum of the first two elements: 4

__Problem No. 4__

_Problem_: Using the *map* function, generate a new tuple that contains the square of each of the elements of a given tuple.

_Solution_: A classic function is created that receives a value and calculates its square. Then, a tuple is created, where using *map* the square function is called, and in this way the transformation of the original values to the square values is made.

In [26]:
def square_mapping(x: int) -> int:
    """
    This function receives a number and returns the square of that number.

    Parameters:
    - x (int): number to be squared.

    Returns:
    - int: square of the number.
    """
    return x**2


t_1 = (5, 7, 4, 3, 8, 2, 6)
t_2 = tuple(map(square_mapping, t_1))
print("Result of squared tuple:", t_2)

Result of squared tuple: (25, 49, 16, 9, 64, 4, 36)